@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
  --color-primary: #184269;
  --color-secondary: #f4f4f4;
}

body {
  background: var(--color-secondary, white);

  font-family: "Noto Sans", sans-serif;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;

  margin: 2rem auto;

  width: 100%;
  max-width: 1500px;
}

.title,
.subtitle {
  margin: 0 auto;
  width: 100%;
  color: var(--color-primary, black);
  text-align: center;
  text-transform: uppercase;
}

.spacer {
  display: block;

  margin: 2rem auto;

  width: 100%;
  height: 2px;

  background-color: var(--color-primary, black);
  border: 0;
}

iframe {
  width: 100%;
  border: 0;
}

/* your styles here */

.main-container {
  display: block;
  width: 100vw;
  /* height:100vh; */
  background-color: chartreuse;
}

.card-container {
  display: block;
  width: 90vw;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

.card-image-container {
  position: relative;
}

.image {
  width: 100%;
}

.time-stamp {
  position: absolute;
  width: 6em;
  height: 2em;
  bottom: 10px;
  left: 10px;
  background-color: #f4f4f4;
  color: #184269;
}

.time-stamp-text {
  font-size: 1em;
}

.card-info-container {
  display: block;
  background: var(--color-secondary, white);
  height: 45vh;
  width: 90vw;
  border:  #f4f4f4 1px solid;
}

.card-title {
  color: #184269;
  font-size: 2.5em;
  margin-left: 1em;
}

.text {
  margin: 1em;
  font-size: 3em;
}

.card-button {
  margin-left: 3em;
  background-color: #184269;
  color: #f4f4f4;
  border-radius: 3px;
  height: 5em;
  width: 20em;
}

.card-button svg {
  fill: var(--color-secondary, white);
}

.card-button:hover {
  background-color: yellow;
}

@media only screen and (min-width: 411px) {
  .main-container {
    background-color: blue;
  }
  
}

@media only screen and (min-width: 768px)  {
  .main-container {
    background-color: red;
  }
}

@media only screen and (min-width: 1224px) {
  .main-container {
    background-color: yellow;
  }
}

/* .card-image-container {
    justify-content: flex-end;
    align-items: flex-start;
    height: 40vh;
    width: 35vw;
  }

  .image {
    height: 40vh;
    width: 35vw;
    border: solid 1px black;
  }

  .time-stamp {
    margin-top: 2em;
    margin-right: 2em;
  }

  .card-info-container {
    height: 40vh;
    width: 55vw;
  }

  .card-title {
    font-size: 2em;
    width: 30vw;
  }

  .text {
    font-size: 2.3em;
  }
}    */

/* @media only screen and (min-width: 1920px) {
  .main-container {
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: red;
  }

  .card-container {
    width: 45em;
    height: 30em;
  }
  .card-image-container {
    width: 20em;
  }

  .time-stamp {
    width: 8em;
    height: 1.5em;
  }

  .time-stamp-text {
    font-size: 1em;
  }

  .image {
    height: 24.2em;
    width: 20em;
  }

  .card-info-container {
    width: 30em;
  }

  .card-title {
    width: 10em;
  }

  .text {
    font-size: 1.5em;
  }

  .card-button {
    height: 3em;
    width: 15em;
  }
}  */
