@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
  --color-primary: #184269;
  --color-secondary: #f4f4f4;
}

body {
  background: var(--color-secondary, white);

  font-family: "Noto Sans", sans-serif;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;

  margin: 2rem auto;

  width: 100%;
  max-width: 1500px;
}

.title,
.subtitle {
  margin: 0 auto;
  width: 100%;
  color: var(--color-primary, black);
  text-align: center;
  text-transform: uppercase;
}

.spacer {
  display: block;
  margin: 2rem auto;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary, black);
  border: 0;
}

iframe {
  width: 100%;
  border: 0;
}

/* your styles here */

.main-container {
  display: block;
  width: 100vw;
  /* height:100vh;  */
  /* background-color: chartreuse; */
  /* border: red 1px solid; */
}

.card-container {
  display: block;
  width: 90vw;
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;

  border: 1px red solid;
}

.card-image-container {
  position: relative;
  margin: 0;
}

.image {
  width: 100%;
}

.time-stamp {
  position: absolute;
  width: 6em;
  bottom: 10px;
  left: 10px;
  background-color: var(--color-secondary);
  color: #184269;
}

.time-stamp-text {
  font-size: 0.9em;
}

.card-info-container {
  display: block;
  background: white;
  height: 45vh;
  width: 90vw;
  margin: 0;

  /* border:  #f4f4f4 1px solid; */
  /* border: 1px green solid */
}

.card-title {
  color: #184269;
  font-size: 1em;
  margin-left: 10px;
}

.text {
  margin: 1em;
  font-size: 1em;
}

.card-button {
  display: flex;
  align-items: center;
  background-color: #184269;
  color: var(--color-secondary);
  border-radius: 3px;
  height: 2em;
  width: 10em;
  margin-left: 10px;
}

.card-button svg {
  fill: var(--color-secondary, white);
}

.card-button:hover {
  background-color: yellow;
}

@media only screen and (min-width: 375px) {
  .main-container {
    /* background-color: blue; */
  }

  .card-container {
    display: flex;

    width: 90vw;
  }

  .image {
    height: 45vh;
    width: 40vw;
  }

  .time-stamp {
    width: 4em;
    position: absolute;
    bottom: initial;
    right: initial;
    top: 1.4em;
    left: 5em;
  }

  .time-stamp-text {
    font-size: 0.7em;
  }

  .card-info-container {
    width: 45vw;
  }
}

@media only screen and (min-width: 768px) {
  .main-container {
    display: flex;
    flex-flow: wrap;
    /* background-color: red; */
  }

  .card-container {
    display: block;
    width: 40vw;
    margin-right: 5em;
    margin-left: 5em;
  }

  .image {
    height: 45vh;
  }

  .card-info-container {
    width: 40vw;
    height: 40vh;
  }
}

@media only screen and (min-width: 1224px) {
  .main-container {
    flex-wrap: wrap;
    /* background-color: yellow; */
  }

  .card-container {
    display: flex;
    width: 30vw;
    margin-right: 5em;
  }

  .image {
    width: 25vh;
  }

  .time-stamp {
    width: 4em;
    top: 1.4em;
    left: 10em;
  }

  .time-stamp-text {
    font-size: 0.7em;
  }

  .card-info-container {
    width: 20vw;
    height: 45vh;
  }
}
