@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
  --color-primary: #184269;
  --color-secondary: #f4f4f4;
}

body {
  background: var(--color-secondary, white);

  font-family: "Noto Sans", sans-serif;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;

  margin: 2rem auto;

  width: 100%;
  max-width: 1500px;
}

.title,
.subtitle {
  margin: 0 auto;
  width: 100%;
  color: var(--color-primary, black);
  text-align: center;
  text-transform: uppercase;
}

.spacer {
  display: block;

  margin: 2rem auto;

  width: 100%;
  height: 2px;

  background-color: var(--color-primary, black);
  border: 0;
}

iframe {
  width: 100%;
  border: 0;
}

/* your styles here */


 .main-container {
  display: flex;
  align-items: center;
  justify-content: ceter;
  flex-flow: column;

   
  width: 100%;
  /* height: 100vh; */

 

  border: red 1px solid;
} 




.card-container {
  display: block;
  align-items: center;
  border: solid black 1px;
  width: 40em;
  height: 100vh;
  margin-top: 5em;

}

 .card-image-container {  
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  border: 1px solid blue;
  height: 50em;
  width: 40em;
  background-image: url("https://source.unsplash.com/gpK9SOzNna0");
} 
 
 
.time-stamp {
  display: flex;
  justify-content: center;
  border: 1px pink solid; 
  width: 14em;
  height: 3em;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
  background-color: #f4f4f4;
  color: #184269;
}

.time-stamp-text{
      font-size: 2em;
}
/*

.card-info-container {
  border: solid 1px seagreen;
  background: var(--color-secondary, white);
  height: 20em;
}

.card-title {
  border: goldenrod solid 1px;
  margin-left: 1.5em;
  color: #184269;
}

.text {
  border: solid 1px springgreen;
  margin: 1em;
  font-size: 1em;
}

.card-button {
  
  margin-left: 2em;
  background-color: #184269;
  color: #f4f4f4;
  border-radius: 3px;
  height: 3em;
  width: 10em;
  border: red 1px solid;
}  */



    

/* @media only screen and (max-width: 600px){  */
  

   /* .card-container {
    flex-direction: column;
    width: 50vw;
    margin-bottom: 5em;
  } */

   /* .card-image-container { 
   align-items: flex-end;
    justify-content: flex-start;
    height: 50em;
    width: 50em;
  }

   .time-stamp{
  width: 14em;
  height: 3em;
  }

  .time-stamp-text{
    font-size: 2em;
  }

  .card-info-container {
    height: 50em;
    align-self: flex-end;
  }

  .card-title{
    height: 1.5em;
    font-size: 3em;
  }

  .text{
    font-size: 3.2em;
  }

  .card-button{
    height: 6em;
    width: 20em;

  }   
 /* }     */

/* @media only screen and (min-width: 411px){

  .card-container {
    width: 40em;
    height: 55em;
  }

  .card-image-container {
    height: 40em;
    width: 40em;
  }

   .time-stamp{
    width: 10em;
    height: 2em;

  }

  .time-stamp-text{

    font-size: 1.5em;
  }

  .card-info-container {
    height: 40em;
  }

  .card-title{
    height: 1.5em;
    font-size: 1.5em;
  }

  .text{
    font-size: 2em;
  }

  .card-button{
    height: 4em;
    width: 15em;

  } */
/* } */



